$primary-color: #e4b17b;
$secondary-color: #222222;
$sidebar-color: #1b1b1b;
$footer-color: #1e1e1e;
$background-color: #222222;
$text-color: #ffffff;
$font-primary: 'Times New Roman', sans-serif;
$spacing-unit: 1rem;