body {

    .main-chambre {

        article {

            header {
                .chambre1 {
                    width: 100%;
                    height: 900px;
                    background-image: url(../../images/rooms/4.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include flex-collum;
                }

            }

        }

        h1,
        h2,
        h3,
        .ti-facebook,
        .ti-instagram,
        .ti-twitter,
        .ti-youtube,
        .ti-pinterest {
            color: white;
        }

        .doré,
        .flaticon-group,
        .flaticon-wifi,
        .flaticon-clock-1,
        .flaticon-breakfast,
        .flaticon-towel,
        .flaticon-swimming,
        .ti-check {
            color: #6E583B;
        }

        .texte {
            color: #838383;
        }



        .étage1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .chambre-deluxe,
        .aménagements {
            padding: 20px;
            margin: 100px;
        }

        .check {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }


        .instructions {
            display: inline-block;
            align-items: center;
            margin: 100px;

        }

        .ul-check {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .check {
            margin-left: 100px;
        }

        .logo-aménagements {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}