    .main-chambre {
        background-color: #222222;

        article {

            h1,
            h2,

            .ti-facebook,
            .ti-instagram,
            .ti-twitter,
            .ti-youtube,
            .ti-pinterest {
                color: white;
            }

            .doré,
            .flaticon-group,
            .flaticon-wifi,
            .flaticon-clock-1,
            .flaticon-breakfast,
            .flaticon-towel,
            .flaticon-swimming,
            .ti-check {
                color: #6E583B;
            }

            .texte {
                color: #838383;
            }

            header {
                .chambre1 {
                    width: 100%;
                    height: 900px;
                    background-image: url(../../images/rooms/4.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include flex-collum;
                    filter: brightness(80%);

                    .ti-star {
                        text-align: center;
                        color: $primary-color;
                        font-size: 1.2em;
                    }

                    .hotel-luxe {
                        margin-top: 30px;
                        font-size: 0, 5em;
                        font-family: $primary-font;
                        letter-spacing: 2px;
                        color: white;
                        text-align: center;
                    }

                    .chambreluxe {
                        font-size: 5em;
                        text-align: center;
                        font-family: $secondary-font;
                        font-weight: 400;
                        letter-spacing: 20px;
                        color: #FFF;
                        text-transform: uppercase
                    }

                }

            }

            .étage1 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                .chambre-deluxe {
                    padding-top: 100px;
                    padding-left: 100px;
                    padding-bottom: 2rem;
                    width: 100%;
                    height: 500px;
                }

                .aménagements {
                    padding: 20px;
                    padding-top: 200px;
                    padding-left: 200px;
                }

                .duscman1 {
                    font-size: 16px;
                }

                .titre-étage {
                    font-size: 2em;
                }

                .texte {
                    line-height: 2;
                }
            }

            .logo-aménagements {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            .check {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                margin-left: 100px;
                margin-top: 150px;

                .ul-check {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }

            }

            .instructions {
                display: inline-block;
                align-items: center;
                margin: 100px;
            }
        }

    }