
  .main-index{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .img-header{
      max-width: 100%;
      height: 800px;
      background-image: url(../../images/slider/2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include flex-collum
    }

    .ti-star{
      text-align: center;
      color: $primary-color;
      font-size: 1.2em;
    }

    .carouselle{
      @include flex-collum;

      .sous-titres-header{
        margin-top: 30px;
        font-size: 0,5em;
        font-family: $primary-font;
        letter-spacing: 2px;
        color: white;
      }

      .title-header{
        font-size: 5em;
        text-align: center;
        font-family: $secondary-font;
        font-weight: 400;
        letter-spacing: 20px;
        color: #FFF;
      }
    }

    .container{
      background-color: #222222;
    }

    .infos-rooms{
      background-color: #1E1E1E;
    }

    .container{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 600px;

      .into-para{

        margin-left: 80px;
        
        .sous-title-container{
          font-size: 1em;
          color: #FFF;
          font-family: $primary-font;
          margin-top: 20px;
          margin-left: 5px;
          letter-spacing: 8px;
          color: $primary-color;
        }

        .title-container{
          font-size: 2.8em;
          font-weight: 300;
          font-family: $secondary-font;
          letter-spacing: 2px;
          color: #FFF;
        }

        .para-container{
          margin-top: 50px;
          color: #919191;
          font-family: $primary-font;
          width: 700px;
        }
      }
      .into-img{
        display: flex;
        flex-direction: row;
        gap: 50px;

        .img-into{
          background-image: url(../../images/rooms/8.jpg);
          background-size: cover;
          background-position: center;
          width: 250px;
          height: 350px;
          margin-top: 80px;
        }

        .img-into2{
          background-image: url(../../images/rooms/2.jpg);
          background-size: cover;
          background-position: center;
          width: 250px;
          height: 350px;
        }
      }
    }

    .infos-rooms{

      max-width: 100vw;
      .title-rooms{
        margin-left: 130px;
        margin-top: 80px;

        h5{
          font-size: 1em;
          color: #FFF;
          font-family: $primary-font;
          margin-left: 5px;
          letter-spacing: 10px;
          color: $primary-color;
        }
  
        h2{
          font-size: 2.8em;
          font-family: $secondary-font;
          font-weight: 300;
          letter-spacing: 2px;
          color: #FFF;
        }
      }      
      

      .rooms-img-top{
        @include flex-row;
        gap: 100px;
        margin-top: 50px;

        .img-1{
          background-image: url(../../images/rooms/1.jpg);
          background-position: center;
          background-size: cover;
          width: 300px;
          height: 400px;
        }

        .img-2{
          background-image: url(../../images/rooms/2.jpg);
          background-position: center;
          background-size: cover;
          width: 300px;
          height: 400px;
        }

        .img-3{
          background-image: url(../../images/rooms/3.jpg);
          background-position: center;
          background-size: cover;
          width: 300px;
          height: 400px;
        } 
      }

      .room-img-bottom{
        @include flex-row;
        gap: 30px;
        margin-top: 30px;
        .img-4{
          background-image: url(../../images/rooms/4.jpg);
          background-position: center;
          background-size: cover;
          width: 535px;
          height: 300px;
        }

        .img-5{
          background-image: url(../../images/rooms/7.jpg);
          background-position: center;
          background-size: cover;
          width: 535px;
          height: 300px;
        }
      }
    }
  }
