body{

  main{
    max-width: 100%;

    .img-header{
      height: 700px;
      background-image: url(../../images/slider/2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include flex-collum
    }

    .ti-star{
      text-align: center;
      color: #c2a505;
      font-size: 1.2em;
    }

    .carouselle{
      @include flex-collum
    }

    .container{
      background-color: #222222;
    }

    .infos-rooms{
      background-color: #1E1E1E;
    }

    .container{
      display: flex;
      flex-direction: row;
      text-align: start;
      justify-content: space-around;
      padding: 20px;

      .into-para{
        width: 50%;
      }
      .into-img{
        width: 200px;
        display: flex;
        flex-direction: row;
        .img-into{
          width: 200px;
        }
      }
    }
  }
}
