*{
  margin: 0;
  padding: 0;
}

body{
  padding: 0;
  margin: 0;

  main{

    .img-header{
      background-image: url(../../assets/images/slider/2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 800px;
      width: 100%;
      @include flex-collum
    }

    .ti-star{
      text-align: center;
      color: #c2a505;
      font-size: 1.2em;
    }

    .carouselle{
      @include flex-collum
    }

    .container{
      background-color: #222222;
    }

    .infos-rooms{
      background-color: #1E1E1E;
    }
  }
}
