footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 0.9em;
    color: #b4b4b4;
    margin-top: 20px;
    font-family: $primary-font;
    font-family: $secondary-font;

    .about,
    .footer-contact {
        flex: 1;
        max-width: 500px;
    }

    .legal {
        width: 100%;
        text-align: center;
        font-size: 0.8em;
        color: #f0eeee;
        background-color: #1e1e1e;
        padding: 15px 20px;
        margin-top: auto;
        font-family: $primary-font;
    }

    em {
        font-style: normal;
        color: #b4b4b4;
        font-family: $primary-font;
    }

}

.footer {
    color: #ddd;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        padding-bottom: 20px;

        .about,
        .footer-contact {
            max-width: 500px;
            margin-left: 100px;
        }

        .about {
            h2 {
                font-size: 1.5em;
                color: #fff;
                margin-bottom: 15px;
            }

            p {
                color: #bbb;
                line-height: 1.6;
                margin-bottom: 10px;
            }
        }

        .footer-contact {
            text-align: left;

            h2 {
                font-size: 1.5em;
                color: #fff;
                margin-bottom: 15px;
            }

            address {
                font-style: normal;
                color: #ddd;
                margin-bottom: 10px;
            }

            p {
                color: #b8860b;
                margin: 5px 0;
            }

            a {
                color: #b8860b;
                text-decoration: none;
            }

            .social-media {
                display: flex;
                gap: 10px;
                margin-top: 15px;

                i {
                    font-size: 1.2em;
                    color: #ddd;
                    cursor: pointer;
                }
            }
        }
    }
}