@media screen and (max-width: 440px){
  body{
    @include flex-collum;
    width: 440px;


    .main-index{
      width: 440px;

      .title-header{
        font-size: 0.5em;
      }

      .img-header{
        width: 100%;
        height: auto;
      }
    }

    .container{
      @include flex-collum
    }
  
  }
}